<link href="/style.css" rel="stylesheets">

<nav id="menu">
    <ul id="menu_itens">
        <li class="menu_item"><a href="/cadastrar">Cadastrar produto</a></li>
        <li class="menu_item"><a href="/all">Todos os produtos</a></li>
        <li class="menu_item"><a href="#">Registrar venda</a></li>
    </ul>
</nav>